:root {
  --green-1: #54c9c5;
  --green-2: #24c9c5;
  --primary: var(--green-1);
}
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: #f8f8f8;
  position: relative;
}

.primary-button {
  border: none;
  width: 100px;
  color: #fff;
  padding: 0.6rem 0;
  background: var(--primary);
}

.primary-button[data-is-visible="false"] {
  display: none;
}

.primary-button:hover {
  opacity: 90%;
}

.primary-input {
  --shadow-color: #f6f6f6;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px 4px var(--shadow-color);
}

.primary-input:hover {
  background: #fff;
}

.primary-input:focus-within {
  --shadow-color: #f4f4f4;
}

.sr-only {
  visibility: hidden;
  width: 0px;
}

.header,
.footer {
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 2rem;
  font-weight: 600;
  padding: 1em 0;
}

.footer a {
  padding-left: 5px;
  color: var(--primary);
}

.container {
  width: 80vw;
  margin: 0 auto;
  min-width: 60vh;
  max-width: 1368px;
}

.form--addtask {
  gap: 2rem;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.addtask--inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.addtask--input {
  display: block;
  width: 100%;
  height: 44px;
}

.addtask--container {
  position: absolute;
  right: 10px;
}

.todolist--container {
  height: 70vh;
  padding: 2px 8px;
  margin-top: 10px;
  overflow-y: scroll;
  background: #fff;
}

.todolist--list-wrapper {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding: 0.75rem 0.3rem;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
}

.todolist--list-wrapper:last-of-type {
  border: none;
}

.utils-container {
  gap: 2rem;
  display: flex;
}

.delete-task--button {
  --primary: #f55050;
}

.addtask--order-wrapper {
  gap: 1rem;
  height: 40px;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.addtask--down-caret {
  top: 50%;
  left: 175px;
  font-size: 20px;
  position: absolute;
  user-select: none;
  transform: translateY(-60%);
}

.addtask--order-selection {
  width: 200px;
  cursor: pointer;
  padding: 0 0.5rem;
  background: #fff;
  border: 1px solid var(--green-2);
}

.addtask--order-selection:hover,
.addtask--order-selection:hover ~ .addtask--down-caret {
  color: #fff;
  background-color: var(--primary);
}

.order-button {
  color: #000;
  --primary: #f9f9f9;
  border: 1px solid var(--green-1);
}

.order-button:hover {
  color: #fff;
  --primary: var(--green-1);
}

.updatetask--input {
  width: 70%;
  border: none;
  padding: 2px 4px;
  height: 40px;
  background: #f0f0f0;
}
